body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 550px;
    padding-bottom: 170px;
}
.top-banner{
    background-image: url("img/bg1.jpg");
    background-repeat: no-repeat;
   
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 10px;
}
.half-width p{
    padding-bottom: 2%;
}
.half-width img{
    width: 75%;
    border-radius: 12%;
    padding-left: 47px;
    padding-top: 10%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: rgb(236, 226, 207);
}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(109, 91, 91), tomato);
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
p{
    color: rgb(0, 0, 0);
}
.dream-area{
    background-image: url("img/bg2.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}
.experience-area{
    background-image: url("img/bg3.jpg");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area h3{
    color: rgb(240, 233, 221);
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(235, 194, 179), tomato);
    border-image-slice: 1;
    margin-top: 10px;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(110, 110, 119), cyan);
    border-image-slice: 1;
}
.footer-sec{
    background-color: rgb(190, 255, 170);
    padding: 25px;
}
footer p{
    text-align: center;
    margin-bottom: 20px;
}